<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/main.css'%}">

    <title>WeatherLy</title>
</head>
<body>
  <section class="container">
      <div class="box_1_2">
          <div class="text_box">
              <h2 id="day_status">{{city_weather.description}}</h2>
              <div id="temperature_staus">
                  <p id="temperature">{{city_weather.temp}}</p>
              </div>
          </div>
      </div>
      <div class="box_2_2">
          <div class="get_notify">
              <img id="notify-icon" src="{% static "images/widget/plus.png" %}" alt="get Notify">
            </div>
            <div class="option-container display_none">
                <ul class="option">
                    <li class="option-item" ><a style='text-decoration:none; color:hsl(0,0%,12%);'  href="blog.html">blog</a></li>
                    <li class="option-item"><a style='text-decoration:none; color:hsl(0,0%,12%);' href="contact.html">contact</a></li>
                </ul>
            </div>
          <div class="your_location">
              <h3 class="day">Today</h3>
              <h3 class="location">{{city_weather.country}}</h3>
          </div>
          <div class="menu-wrapper">
             <ul class="weather-flex">
                 <li class="weather-item">
                       <h3 class="weather-item-time today-time">Now</h3>
                       <img src="{% static "images/weather-icons/normal-icon/day.svg" %}" alt="" class="weather-item-icon today-icon">
                       <p class="weather-item-tempeture today-tempeture">{{city_weather.temp}}</p>
                 </li>
                 <li class="weather-item" >
                    <h3 class="weather-item-time">7 AM</h3>
                    <img src="{% static "images/weather-icons/partly-cloudy-icon/cloudy-day-1.svg" %}" alt="" class="weather-item-icon">
                    <p class="weather-item-tempeture">18°</p>
                 </li>
                 <li class="weather-item">
                    <h3 class="weather-item-time">10 AM </h3>
                    <img src="{% static "images/weather-icons/partly-cloudy-icon/cloudy-day-2.svg" %}" alt="" class="weather-item-icon">
                    <p class="weather-item-tempeture">17°</p>
                 </li>
                 <li class="weather-item">
                    <h3 class="weather-item-time">12 AM</h3>
                    <img src="{% static "images/weather-icons/partly-cloudy-icon/cloudy-day-3.svg" %}" alt="" class="weather-item-icon">
                    <p class="weather-item-tempeture">18°</p>
                 </li>
                 <li class="weather-item">
                    <h3 class="weather-item-time">2 PM</h3>
                    <img src="{% static "images/weather-icons/partly-cloudy-icon/cloudy.svg" %}" alt="" class="weather-item-icon">
                    <p class="weather-item-tempeture">16°</p>
                 </li>
                  <li class="weather-item">
                    <h3 class="weather-item-time">4 PM</h3>
                    <img src="{% static "images/weather-icons/partly-cloudy-icon/cloudy.svg" %}" alt="" class="weather-item-icon">
                    <p class="weather-item-tempeture">17°</p>
                 </li>
                  <li class="weather-item">
                    <h3 class="weather-item-time">4 PM</h3>
                    <img src="{% static "images/weather-icons/partly-cloudy-icon/cloudy.svg" %}" alt="" class="weather-item-icon">
                    <p class="weather-item-tempeture">17°</p>
                 </li>
                  <li class="weather-item">
                    <h3 class="weather-item-time">4 PM</h3>
                    <img src="{% static "images/weather-icons/partly-cloudy-icon/cloudy.svg" %}" alt="" class="weather-item-icon">
                    <p class="weather-item-tempeture">17°</p>
                 </li>
             </ul>
          </div>
      </div>
  </section>
     <script src="{% static "admin/js/app.js"%}"></script>
</body>
</html>
